%section.uk-height-1-1.uk-vertical-align.uk-text-center
  .uk-vertical-align-middle
    %h1 404
    %p Sorry, but we could not find, what you were looking for.
    %p
      %a{:href => "/"}
        %i.uk-icon-reply
        go back to website
