#navigation
  .uk-container.uk-container-center
    .uk-width-1-1
      %nav.uk-navbar
        .uk-navbar-flip
          %ul.uk-navbar-nav
            %li.uk-parent.start
              %a{"data-uk-smooth-scroll" => "", :href => "#start"} Home
            %li.uk-parent.what.uk-hidden-small
              %a{"data-uk-smooth-scroll" => "", :href => "#what"} How
            %li.uk-parent.reference.uk-hidden-small
              %a{"data-uk-smooth-scroll" => "", :href => "#reference"} People say
            - if isLogin
              %li.uk-parent
                %a{:href => "/logout"} Logout
            - else
              %li.uk-parent
                %a{:href => "/login"} Login
