/ Second Section What I do
#what.full-width.colour-bg-3.how-section
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1
        %article.uk-scrollspy-init-inview{"data-uk-scrollspy" => "{cls:'uk-animation-slide-bottom'}"}
          %header
            %h1 How it works?
            %h3 Quaerat blanditiis mollitia nam iusto dolor alias id:
      .uk-width-1-2.uk-width-medium-1-4.uk-margin-large-top{"data-uk-scrollspy" => "{cls:'uk-animation-fade'}"}
        %figure
          %i.uk-icon-user
            %figcaption.uk-text-center Register
      .uk-width-1-2.uk-width-medium-1-4.uk-margin-large-top{"data-uk-scrollspy" => "{cls:'uk-animation-fade', delay:250}"}
        %figure
          %i.uk-icon-user
            %figcaption.uk-text-center File a loan
      .uk-width-1-2.uk-width-medium-1-4.uk-margin-large-top{"data-uk-scrollspy" => "{cls:'uk-animation-fade', delay:500}"}
        %figure
          %i.uk-icon-user
            %figcaption.uk-text-center Get it approved
      .uk-width-1-2.uk-width-medium-1-4.uk-margin-large-top{"data-uk-scrollspy" => "{cls:'uk-animation-fade', delay:750}"}
        %figure
          %i.uk-icon-user
            %figcaption.uk-text-center Loan Release
