#reference.full-width.colour-bg-2.reference-section{"data-uk-scrollspy" => "{cls:'uk-animation-fade', delay:250}"}
  .uk-container.uk-container-center
    .uk-grid
      .uk-width-1-1
        %article
          %header
            %h1 What people say
            %h3 References from linkedin
      .uk-width-1-1
        .uk-slidenav-position.slider
          %div
            %blockquote
              %p
                %i.uk-icon-quote-left.uk-icon-large.uk-align-left
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error pariatur quam recusandae dolorum eos saepe incidunt sequi, delectus ipsam deserunt obcaecati maiores tenetur unde ex quis eligendi earum expedita distinctio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum voluptates, dolores autem pariatur beatae adipisci veniam labore excepturi neque! Cum ipsa dolore incidunt dolorum sint amet et laborum quibusdam reiciendis.
              %footer.uk-text-right
                %cite
                  %a{:href => "#"} - Quas quibusdam Aspernatur
          %div
            %blockquote
              %p
                %i.uk-icon-quote-left.uk-icon-large.uk-align-left
                Labore voluptas delectus nihil voluptatibus numquam repellat quam vitae perspiciatis, nam a soluta. Necessitatibus nisi possimus porro..
              %footer.uk-text-right
                %cite
                  %a{:href => "#"} - Quibusdam Fontana, General Manager at Maxpho
          %div
            %blockquote
              %p Great web design, creative and accurate!
              %footer.uk-text-right
                %cite
                  %a{:href => "#"} - Mattia Tonolli, Art director and Photographer at MattGoodVision
          %div
            %blockquote
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus impedit quis, odio ut dicta nesciunt perspiciatis, vitae laborum asperiores! Expedita, accusamus reprehenderit. A distinctio consequuntur quam minus aliquid facilis! ipsum dolor sit amet, consectetur adipisicing elit. Magnam ea quis ut? Dignissimos, similique, culpa. Totam, iure, repellat! Quod amet laudantium, provident a, impedit error eveniet vero quas quam nesciunt.
              %footer.uk-text-right
                %cite
                  %a{:href => "#"} - CSP Resourcing
