
.uk-width-medium-1-1
  %a.uk-panel{style: "width: 100%;"}
    .uk-panel-badge.uk-badge EDIT
    .ml-photo.uk-text-center
      %i.uk-icon-twitter.uk-icon-large
    .uk-panel.uk-panel-box
      %h2= current_user[:full_name]
      %p= session[:birthdate]
