.container
  #start.full-width.colour-bg-1.start-section
    .uk-container.uk-container-center
      .uk-grid
        %article.uk-width-1-1
          %header
            %h1= @user['username']
            %h2= @user['full_name']
